.top {
  border-radius: 88px 88px 40px 40px;
}

.bottom {
  border-radius: 40px 40px 88px 88px;
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 536px;
  min-height: 80px;
  margin-bottom: 15px;
  padding: 16px 24px;
  color: #f2f2f3;
  font-size: 16px;
  line-height: 24px;

  /* border-radius: 40px; */
  background: #2f2f37;
}

.span {
  display: flex;
  align-items: center;
}

.text {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  margin-right: 20px;
  line-height: 24px;
  text-align: left;
}
