.main_screen {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 40px;
}

.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.burger_constructor {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
