.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compound {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.compound_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
}
