.container {
  display: flex;
  flex-grow: 1;
  flex-flow: column wrap;
  width: 600px;
}

.burger_category_box {
  flex: 1 1 auto;
  height: 100px;
  padding: 0;
  overflow: hidden auto;
  scrollbar-color: #8585ad #2f2f37;
}

.nav_box {
  display: flex;
}
